{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {"window": true, "document": true, "fetch": true, "navigator": true },

  "rules": {
    "no-restricted-syntax": [0],
    "no-mixed-operators": [0],
    "no-underscore-dangle": [0],
    "arrow-parens": [2, "as-needed"],
    "object-curly-newline": [0],
    "function-paren-newline": [0],
    "import/prefer-default-export": [0],
    "react/jsx-filename-extension": [0],
    "no-return-assign": [0]
  },

  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
}
